.home {
  padding: 3rem 1rem;
}
.home h2 {
  display: flex;
}
.details {
  background-color: midnightblue; 
  color: whitesmoke;
  border-radius: 1rem;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .main {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .image {
    display: none;
  }
  .introParagraph {
    text-align: center;
    font-size: 3vw;
    margin-top: 2rem;
  }
  .details {
    height: 50rem;
  }
}