.menuList {
  background-color: #100E0E;
  color: white;
  font-size: 1.25rem;
  text-align: right;
  padding: .5rem 1rem;
  position: fixed;
  right: 0;
  opacity: .9;
  z-index: 2;
  margin-top: 50px;
}
.menuList h3 {
  text-decoration: underline;
  margin-block-start: .5rem;
  margin-block-end: .5rem;
}
.menuList ul {
  list-style: none;
}
.menuList li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}