.navbar {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  margin-top: 2rem;
  background-color: aliceblue;
  color: black;
  box-shadow: 0 0 1rem;
}
.navbar div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms;
}
.active {
  color: white;
  background-color: red;
  transform: scale(1.2)
}