.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D0974;
  color: white;
  padding: 0 .5rem;
  height: 50px;
}
.navbar h1 {
  font-size: 25px;
}
