.uxSection h3 {
  text-align: center;
}
.projects {
  margin: 3rem 0 0;
}
.project {
  margin: 0 0 3rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .uxSection {
    width: 50vw;
    outline: 2px solid;
    padding: 1rem;
  }
}